
# Ignore everything
*

# Explicitly include directories
!/nvim/
!/nvmdev/
!/tmux/
!/alacritty/
!/i3/
!/i3status/
!/nitrogen/
!/kitty/
!/sway/
!/waybar/
# Include contents of directories
!/kitty/**
!/nvim/**
!/nvmdev/**
!/tmux/**
!/alacritty/**
!/i3/**
!/i3status/**
!/nitrogen/**
!/sway/**
!/waybar/**
